@media (min-width: 992px) {
  .header .logo {
    float: right;
    text-align: right;
  }
}
.header .logo .the-toggler {
  right: auto;
  left: 15px;
}
@media (min-width: 992px) {
  .header .navbar {
    float: right;
  }
}
.header .navbar li {
  float: right;
  text-align: right;
}

/* start services */
@media (min-width: 992px) {
  .services .service-box {
    float: right;
  }
}

/* End services */
/* start Our Players */
@media (min-width: 768px) {
  .our-players .players-box {
    float: right;
  }
}
@media (min-width: 992px) {
  .our-players .players-box {
    float: right;
  }
}

/* End Our Players */
/* start Lorem Ipsum */
.lorem-ipsum .lorem-box {
  float: right;
}

/* End Lorem Ipsum */
/* Start Footer */
.footer .gallery, .footer .info, .footer .contact {
  float: right;
}
@media (min-width: 768px) {
  .footer .gallery .img-box img {
    float: right;
  }
}
@media (min-width: 768px) {
  .footer .gallery .img-box .text {
    float: right;
  }
}
.footer .copyright .text, .footer .copyright .author {
  float: right;
  width: 50%;
}
.footer .copyright .author {
  text-align: left;
}

/* End Footer */